@dark-blue: #2d333d;

.body,html {
    width: 100%;
    height: 100%;
}

.main-header {
    background-color: @dark-blue;
    color: white;
    padding: 15px;

    :hover {
        cursor: default;
    }
}

.main-content {
    .teamwork-login-form {
        width: 75%;
        margin: 0 auto;
        margin-top: 150px;

        legend {
            cursor: default;
        }
    }

    .import-form {
        .no-users {
            margin-top: 55px;
        }

        .panel-heading {
            background: @dark-blue;

            legend {
                color: white;
            }
        }

        .checkbox .checkbox-material {
            margin-right: 10px;
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 1000;

    .chat-app-logo {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}
