.main-content {
    .teamwork-login-form {
        width: 75%;
        margin: 0 auto;
        margin-top: 55px;
    }

    .import-form {
        .no-users {
            margin-top: 55px;
        }

        .checkbox .checkbox-material {
            margin-right: 10px;
        }
    }
}
