.main-header {
    background-color: #2d333d;
    color: white;
    padding: 15px;

    :hover {
        cursor: default;
    }
}

.main-content {
    .teamwork-login-form {
        width: 75%;
        margin: 0 auto;
        margin-top: 150px;

        legend {
            cursor: default;
        }
    }

    .import-form {
        .no-users {
            margin-top: 55px;
        }

        .checkbox .checkbox-material {
            margin-right: 10px;
        }
    }
}
