<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.min.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <title>Teamwork.com slack importer</title>
</head>
<body>
    <div class="container">
        <div class="main-content" data-bind="if: teamworkLoggedIn()">
            <import-form params="{ users: users }"></import-form>
        </div>

        <div class="main-content" data-bind="ifnot: teamworkLoggedIn()">
            <teamwork-login-form params="{ teamworkLoggedIn: teamworkLoggedIn }"></teamwork-login-form>
        </div>
    </div>

    <!-- Teamwork login form component template -->
    <% include teamwork_login_form %>
    <!-- Import form component template -->
    <% include import_form %>
    <!-- User row component template -->
    <% include user_editable %>

    <script src="ext_lib/jquery.min.js"></script>
    <script src="ext_lib/bootstrap.min.js"></script>
    <script src="ext_lib/material.min.js"></script>
    <script src="ext_lib/ripples.min.js"></script>
    <script src="bundle.js"></script>
</body>
</html>
