<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teamwork.com slack importer</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.min.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="main-content" data-bind="if: teamworkLoggedIn()">
        <import-form></import-form>
    </div>

    <div class="main-content" data-bind="ifnot: teamworkLoggedIn()">
        <teamwork-login-form params="{ teamworkLoggedIn: teamworkLoggedIn }"></teamwork-login-form>
    </div>


    <!-- Teamwork login form component template -->
    <template id="teamwork-login-form-template">
        <form class="teamwork-login-form" data-bind="visible: !teamworkLoggedIn(), submit: login">
            <label>
                Api key
                <input type="password" data-bind="textInput: apiKey" required>
            </label>
            <input type="submit" value="Login to teamwork">
        </form>
    </template>

    <!-- Import form component template -->
    <template id="import-form-template">
        <div class="import-form">
            <ul data-bind="foreach : $root.users">
                <li>
                    <user-editable params="{ user: $data }"></user-editable>
                </li>
            </ul>
            <button>Import</button>
        </div>
    </template>

    <!-- User row component template -->
    <template id="user-editable-template">
        <div class="user-editable">
            <img width="48" height="48" data-bind="attr: {src: user['avatar-url']}"></img>
            <span data-bind="text: user['first-name'] + ' ' + user['last-name']"></span>
        </div>
    </template>

    <script src="bundle.js"></script>
</body>
</html>
