<template id="import-form-template">
    <div class="import-form well bs-component">
        <div data-bind="foreach: users">
            <user-editable params="{ user: $data }"></user-editable>
        </div>
        <button data-bind="click: importUsers">Import</button>
    </div>
</template>
