<template id="import-done-template">
    <div class="import-done well bs-component">
        <div class="checkmark"></div>
        <h2><a data-bind="attr: { href: $parent.siteUrl() + '/chat' }">Go to my Teamwork Chat</a><h2>
    </div>
</template>
