<template id="loading-overlay-template">
    <div data-bind="fade: loading" class="overlay">
        <div class="chat-app-logo">
            <img src="//cdn0.teamwork.chat/0.19.1/images/logo.svg">
        </div>
    </div>
</template>
