<template id="user-editable-template">
    <div class="panel panel-default">
        <div class="panel panel-body">
            <fieldset>
                <div class="checkbox">
                    <label>
                        <legend>
                            <img width="48" height="48" data-bind="attr: {src: user['avatar-url']}"></img>
                            <span data-bind="text: fullName()"></span>
                        </legend>

                        <input data-bind="checked: true" type="checkbox" checked="checked">
                        <span class="checkbox-material">
                            <span class="check"></span>
                        </span> Import
                    </label>
                </div>

                <div data-bind="foreach: fields" class="user-editable form-group">
                    <div class="form-group">
                        <label data-bind="text: $data, attr: {for: 'field_' + $parent.id() + '_' + $index()}"
                        class="control-label col-md-4"></label>
                        <div class="col-md-7">
                            <input data-bind="textInput: $parent.user[$data], attr: {id: 'field_' + $parent.id() + '_' + $index()}"
                            class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</template>
